body {
    background-color: #ffffff;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica;
}

#body {
    margin: 0 auto;
    position: relative;
}

#header {
    font-size: 40px;
    font-weight: bold;
    top: 20px;
    text-align: center;
}

#header small {
    font-size: 11px;
    display: block;
    font-weight: 100;
}

.legend {
    position: fixed;
    top: 0px;
    right: 0;
    width: 330px;
    font-size: 11px;
    color: #888;
    background: white;
    padding: 20px;
}

.legend h3 {
    text-align: center;
}

.legend .btn {
    font-size: 2em;
    position: fixed;
    top: 10px;
    right: 10px;
    color: blue;
    cursor: pointer;
}

.legend .content {
    display: inherit;
}

.node {
    cursor: pointer;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 1rem;
    fill: rgb(0, 0, 0);
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1px;
}

.node text.good {
    fill: green;
}

.node text.deprecated {
    fill: red;
}

@media only screen and (max-width: 600px) {
    .legend .content {
        display: none;

    }
}